header {
    background-color: #ffcbcb;
    color:darkorchid
}
.info {
    background-color: #cabbe9;
    color: #ffd3b6;
}
h2 {
    background-color:darkslateblue;
    color:hotpink;
}
h3 {
    background-color: #8ea5eb;
    color: #fdffab;
}